h1 {
background-color: #c1ccf0;
border: solid black;
width: 100%;
text-align: center;
position: sticky;
}
h2{
  text-align: center;
}
body{ 
text-align: center;
background-color: #f1f2f5;
}
#results { 
  background-color: #f1f2f5; 
  display: none;
}
.btn { 
  margin-top: 2em;

}