h1 {
background-color: #7f9dff;
border: solid black;
margin-left: 40px;
width: 80%;
position: sticky;
}

.box1 {
display: block;
margin-left: 300px;
width: 50%;
background-color: red;
text-align: center;
}
.results {
  display: none
}

/* 
.box2 {
  display: none;
  background-color: blue;
}
.box3 {
  display: none;
}
.box4 {
  display: none; 
}
.box5 {
  display: none;
}
.box6 {
  display: none;
}  */ 