h1 {
background-color: #7f9dff;
border: solid black;
margin-left: 40px;
width: 80%;
position: sticky;
}

#results { 
  background-color: greenyellow;
  display: none; 
}

/* 
.box2 {
  display: none;
  background-color: blue;
}
.box3 {
  display: none;
}
.box4 {
  display: none; 
}
.box5 {
  display: none;
}
.box6 {
  display: none;
}  */ 